
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
 Path:   <span>@ViewBag.Path</span>
 Message:   <span>@ViewBag.Message</span>
</body>
</html>
