@model IEnumerable<WebFundamentals.Models.MusteriViewModel> 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        Viewbag.Isim=<span>@ViewBag.Isim</span>
    </p>
    <p>
        Tempdata["Isim"]=<span>@TempData["Isim"]</span>
    </p>
    <p>
        Viewdata["Isim"]=<span>@ViewData["Isim"]</span>
    </p>
    @foreach (var item in Model)
    {
        <p>@item.Name</p>
    }
</body>
</html>
