
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KayitOl</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <form class="w-50 mx-auto mt-5 shadow"  method="post" asp-action="KayitOl">
    <input type="text" class="form-control" name="name" value="" />
    <button type="submit">Kayıt Ol</button>
    </form>


</body>
</html>
